#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}


body {
  background-image: url('https://media.licdn.com/dms/image/sync/v2/D4E27AQFrRnKPOblIjQ/articleshare-shrink_800/articleshare-shrink_800/0/1741097112212?e=2147483647&v=beta&t=vDdZ9KAXzUnfjfMhdYABDJ7vauNSonC-_6OvgosVyRg');
  background-repeat: repeat;
  background-size: 390px 350px;
  min-height: 100vh;
  margin: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

